<section class="container forms">
<div class="form signup">
    <div class="form-content">
 
        <header>Signup</header>
      <form [formGroup]="signUpForm">
       
       
        <div class="field input-field">
            <input formControlName="userName" type="text" placeholder="UserName" class="input">
    
        </div>
        <small *ngIf="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')" class="text-danger">*Username is required</small>
        <div class="field input-field">
            <input formControlName="email" type="email" placeholder="Email" class="input">
    
        </div>
        <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" class="text-danger">*Email is required</small>
        <div class="field input-field">
            <input formControlName="password" [type]="type" placeholder="Password" class="password" >
            <i (click)="hideShowPass()" class="bx bx-hide "></i>
        </div>
        <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="text-danger">*Password is required</small>
        
        <div class="field button-field">
           <button (click)="onSignUp()">Signup</button>
    
        </div>
    
        <div class="form-link">
            <span>Already have account? <a id="forget" routerLink="/login">Login</a></span>
        </div>
      </form>
    </div>
  </div></section>